.note-card {
    min-width: 30% !important;
    transform: translate(0px, 40px);
    margin: 16px;
    border: 1px solid transparent;
    border-radius: 8px !important;
    border-color: #e0e0e0;
    box-shadow: none !important;
    min-height: 150px;
}
.pin-note {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDR2N2wyIDN2MmgtNnY1bC0xIDEtMS0xdi01SDV2LTJsMi0zVjRjMC0xLjEuOS0yIDItMmg2YzEuMTEgMCAyIC44OSAyIDJ6TTkgNHY3Ljc1TDcuNSAxNGg5TDE1IDExLjc1VjRIOXoiLz4KPC9zdmc+Cg==);
    background-size: 40px 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 12px;
    top: 6px;
    cursor: pointer;
    opacity: 0.54;
    z-index: 201;
    transition: opacity 0.218s ease-in;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid transparent;    
}
.pin {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDRhMiAyIDAgMCAwLTItMkg5Yy0xLjEgMC0yIC45LTIgMnY3bC0yIDN2Mmg2djVsMSAxIDEtMXYtNWg2di0ybC0yLTNWNHoiLz4KPC9zdmc+Cg==);
}
.pin-note:hover {
    opacity: 0.87;
    background-color: rgba(95,99,104,0.157);
}
.card-action-panel{
    position: absolute;
    bottom: 0;
}
.display-card-action{
    visibility: hidden !important;
}
.menu-list {
    border-width: 0;
    .MuiPopover-paper{
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: none;
    }
}
.note-list-container {
    margin: 0 0 20px 0;
}
.root {
    min-width: 275;
    flex-grow: 1;
  }
  .title {
    font-size: 14;
  }