.pinned-section, .others-section{
    color: #5f6368;
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    position: relative;
    left: 20px;
    top: 25px;
}
.pin-grid-container{
    margin-bottom: 50px !important;
    position: relative;
}
.MuiChip-deleteIconColorPrimary {
    color: #202124 !important;
    opacity: 0.8;
}